In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\priya\Downloads\imdb_anime.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      25009 non-null  object
 3   Number of Votes  25009 non-null  object
 4   Runtime          32549 non-null  object
 5   Year             45591 non-null  object
 6   Summary          23547 non-null  object
 7   Stars            13676 non-null  object
 8   Certificate      28694 non-null  object
 9   Metascore        341 non-null    object
 10  Gross            25009 non-null  object
 11  Episode          45717 non-null  object
 12  Episode Title    34910 non-null  object
dtypes: object(13)
memory usage: 4.5+ MB

In [4]:
data["Year"]=data["Year"].str.replace("(","",regex=False)
data['Year']=data['Year'].str.replace(')','',regex=False)
data['Year']=data['Year'].str.replace('-','',regex=False)

In [5]:
# filling NaN values and converting data types
data.fillna({"Title":"no title","Genre":"no genre","User Rating":0,"Number of Votes":0,"Runtime":0,"Summary":"no summary","Stars":"no stars","Certificate":"no certificate","Metascore":0,"Gross":10,"Episode":0,"Episode Title":"no"},inplace=True)
data.replace({"User Rating":{"User Rating":0},"Number of Votes":{"Number of Votes":0},"Runtime":{"Runtime":"10"},"Metascore":{"Metascore":0},"Gross":{"Gross":10},"Episode":{"Episode":0}},inplace=True)
data=data.astype({"User Rating":float,"Metascore":int,"Gross":int,"Episode":int})

In [6]:
data.describe()

        User Rating     Metascore         Gross       Episode
count  45717.000000  45717.000000  4.571700e+04  45717.000000
mean       3.948658      0.499595  1.636722e+03      0.763589
std        3.669057      5.920916  2.347899e+04      0.424882
min        0.000000      0.000000  5.000000e+00      0.000000
25%        0.000000      0.000000  1.000000e+01      1.000000
50%        5.900000      0.000000  1.000000e+01      1.000000
75%        7.400000      0.000000  1.040000e+02      1.000000
max        9.900000     96.000000  1.162284e+06      1.000000

### 1.How many unique anime are there?

In [7]:
print('No.of unique anime are:',len(data['Title'].unique()))

No.of unique anime are: 9851

### 2.Which anime has the highest rating?

In [8]:
data.fillna({'User Rating':0},inplace=True)

In [9]:
data['User Rating'].replace({'User Rating':0.0},inplace=True)

In [10]:
data.astype({'User Rating':np.float32})

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,1999â€“,Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,0,187689,0,no
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,2023,The film follows the Turtle brothers as they w...,no stars,PG,74,28895,0,no
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,2023,A plumber named Mario travels through an under...,no stars,PG,46,189108,0,no
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,2013â€“2023,After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,YÃ»ki Kaji,Yui Ish...",TV-MA,0,434457,0,no
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,2020â€“,A boy swallows a cursed talisman - the finger ...,"Junya Enoki,YÃ»ichi Nakamura,Adam McArthur,Yuma...",TV-MA,0,82909,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,"3,432",24 min,2019â€“,Tanjiro heads to his next location southeast; ...,no stars,TV-14,0,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,"3,309",24 min,2019â€“,Tanjiro gets separated from Zenitsu when he en...,no stars,TV-MA,0,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,"2,743",0,1999â€“,Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,0,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",0.0,0,24 min,1994â€“2005,no summary,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,0,10,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24 min,2019â€“,On her very first day at Satogahama Municipal ...,no stars,no certificate,0,6,1,Play Ball!

In [11]:
hr=data.loc[data['User Rating']==data['User Rating'].max(),['Title','User Rating']]
print('Highest rated anime are :',len(hr))
hr

Highest rated anime are : 6

                               Title  User Rating
13656                    Idaten Jump          9.9
17874                   Vinland Saga          9.9
22753                Attack on Titan          9.9
34677                Hunter x Hunter          9.9
39614  Legend of the Galactic Heroes          9.9
45689                Attack on Titan          9.9

### 3.What are the animes having the rating between 7.0 and 9.0

In [12]:
data.loc[(data['User Rating']>=7.0) & (data['User Rating']<=9.0),['Title','User Rating']]

                                             Title  User Rating
0                                        One Piece          8.9
1      Teenage Mutant Ninja Turtles: Mutant Mayhem          7.4
2                      The Super Mario Bros. Movie          7.1
4                                   Jujutsu Kaisen          8.5
6                   Demon Slayer: Kimetsu no Yaiba          8.6
...                                            ...          ...
45709               Demon Slayer: Kimetsu no Yaiba          8.3
45710               Demon Slayer: Kimetsu no Yaiba          8.4
45711               Demon Slayer: Kimetsu no Yaiba          8.4
45712               Demon Slayer: Kimetsu no Yaiba          7.3
45713               Demon Slayer: Kimetsu no Yaiba          7.9

[15655 rows x 2 columns]

In [13]:
# finding unique anime having the rating b/w 7.0 & 9.0
pd.DataFrame(data.loc[(data['User Rating']>=7.0) & (data['User Rating']<=9.0),'Title'].unique())

                                                0
0                                       One Piece
1     Teenage Mutant Ninja Turtles: Mutant Mayhem
2                     The Super Mario Bros. Movie
3                                  Jujutsu Kaisen
4                  Demon Slayer: Kimetsu no Yaiba
...                                           ...
3106                            Release the Spyce
3107           Knights of the Zodiac: Saint Seiya
3108                    Blade Runner: Black Lotus
3109                                    Hero Mask
3110                                 Juuni Taisen

[3111 rows x 1 columns]

### 4.Which anime has the highest and lowest runtime?

In [14]:
data['Runtime'].replace({'Runtime':0.0},inplace=True)

In [15]:
data["Runtime"]=data["Runtime"].str.replace(",","")
data['Runtime']=data['Runtime'].str.replace('min','')

In [16]:
data["Runtime"]=data["Runtime"].astype(float)

In [17]:
pd.DataFrame(data.loc[data['Runtime']==data['Runtime'].max(),['Title','Runtime']])

                           Title  Runtime
2798  The Wonderful Wizard of Oz   1271.0

In [18]:
pd.DataFrame(data.loc[data['Runtime']==data['Runtime'].min(),['Title','Runtime']])

                            Title  Runtime
2809                   Ani*Kuri15      1.0
3588                Henkei Shoujo      1.0
3708   Gloomy the Naughty Grizzly      1.0
4548                      Usavich      1.0
4792                 Tokino Kousa      1.0
...                           ...      ...
23772  Gloomy the Naughty Grizzly      1.0
23773  Gloomy the Naughty Grizzly      1.0
23774  Gloomy the Naughty Grizzly      1.0
23775  Gloomy the Naughty Grizzly      1.0
33433                  Ani*Kuri15      1.0

[149 rows x 2 columns]

### 5. What is the runtime difference between one Piece and the super mario bros movie

In [19]:
a=data[data['Title']=='One Piece']['Runtime'].values[0]
b=data[data['Title']=='The Super Mario Bros. Movie']['Runtime'].values[0]
print('Run time difference is :',int(abs(a-b)))

Run time difference is : 68

### 6. Which is the oldest anime?

In [20]:
data["Year"]=data["Year"].str.replace("(","",regex=False)
data['Year']=data['Year'].str.replace(')','',regex=False)
data['Year']=data['Year'].str.replace('-','',regex=False)

In [21]:
data['Year'] = data['Year'].str.extract('(\d+)').astype(float)

In [22]:
data[data['Year']==data['Year'].min()]

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
4954,Matsumoto Fragment,"Animation, Short",5.4,352,1.0,1907.0,"A boy writes on a board, then tips his hat to ...",no stars,no certificate,0,352,0,no

### 7.List all the anime that were released in the year 2023

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      45717 non-null  float64
 3   Number of Votes  45717 non-null  object
 4   Runtime          32549 non-null  float64
 5   Year             45571 non-null  float64
 6   Summary          45717 non-null  object
 7   Stars            45717 non-null  object
 8   Certificate      45717 non-null  object
 9   Metascore        45717 non-null  int32
 10  Gross            45717 non-null  int32
 11  Episode          45717 non-null  int32
 12  Episode Title    45717 non-null  object
dtypes: float64(3), int32(3), object(7)
memory usage: 4.0+ MB

In [24]:
pd.DataFrame(data[data['Year']==2023]['Title'])

                                             Title
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
13                           The Boy and the Heron
18                Zom 100: Bucket List of the Dead
21                    Ruby Gillman, Teenage Kraken
...                                            ...
32965                    Beyblade Burst QuadStrike
32966                    Beyblade Burst QuadStrike
32967                    Beyblade Burst QuadStrike
32968                    Beyblade Burst QuadStrike
32969                    Beyblade Burst QuadStrike

[395 rows x 1 columns]

### 8.What is the average user rating of the anime which belong to the action genre?

### 9. Which anime has the lowest gross price?

In [25]:
data['Gross'].fillna(0, inplace=True)
data['Gross'].replace({'Gross': 0}, inplace=True)
data['Gross'] = data['Gross'].astype(np.int64)

In [26]:
data.loc[data['Gross']==data['Gross'].min(),['Title','Gross']]

                                                   Title  Gross
3233                                          Show Time!      5
5620                                   The Peasant Noble      5
5714   Meitantei Conan Magic File 4: Osaka okonomiyak...      5
6142   Fist of the North Star Legennd of Heroes - Spe...      5
6236                                     Shakotan Boogie      5
...                                                  ...    ...
45600                                    Girl Beats Boys      5
45601                                    Girl Beats Boys      5
45602                                    Girl Beats Boys      5
45606                                    Girl Beats Boys      5
45608                                    Girl Beats Boys      5

[168 rows x 2 columns]

### 10. Which anime has the highest gross price?

In [27]:
data.loc[data['Gross']==data['Gross'].max(),['Title','Gross']]

      Title    Gross
47   WALLÂ·E  1162284
888  WALLÂ·E  1162284

### 11.How many anime have the PG certification?

In [28]:
gp=data.groupby(["Certificate"])

In [29]:
print('Anime belongs to PG certificate :',len(gp.get_group('PG')))

Anime belongs to PG certificate : 425

### 12. What is the average number of votes in your dataset?

In [30]:
data["Number of Votes"]=data["Number of Votes"].str.replace(",","")
data['Number of Votes'].fillna(0, inplace=True)
data['Number of Votes'].replace({'Number of Votes': 0}, inplace=True)
data['Number of Votes'] = data['Number of Votes'].astype(float)

In [31]:
print('Average no of votes :',data['Number of Votes'].mean())

Average no of votes : 1632.1920510969662

In [32]:
data.columns

Index(['Title', 'Genre', 'User Rating', 'Number of Votes', 'Runtime', 'Year',
       'Summary', 'Stars', 'Certificate', 'Metascore', 'Gross', 'Episode',
       'Episode Title'],
      dtype='object')